@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* GLOBAL STYLES */

:root {
  --intro-email-bg: hsl(217, 27%, 15%);
  --main-bg: hsl(217, 27%, 13%);
  --footer-bg: hsl(215, 52%, 9%);
  --testimonials-bg: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg);
  color: var(--White);
  margin: auto;
  max-width: 1440px;
}

h2,
h3,
nav,
.btn__cta {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

ul,
li {
  list-style: none;
}

a {
  color: var(--White);
  text-decoration: none;
}

h2 {
  font-size: 48px;
}

/* NAV SECTION */

.nav {
  align-items: center;
  background-color: var(--intro-email-bg);
  display: flex;
  justify-content: space-between;
  padding: 73px 80px;
  width: 100%;
}

.nav__items {
  align-items: center;
  display: flex;
}

.nav__items :not(:last-child) {
  padding-right: 56px;
}

/* HERO SECTION */

.hero {
  align-items: center;
  background: var(--intro-email-bg) url(../images/bg-curvy-desktop.svg) bottom no-repeat;
  background-size: 100% 278px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.hero img {
  height: 533px;
  width: 739px;
}
.hero h2 {
  margin: 46px;
  width: 810px;
}

.hero p {
  font-size: 22px;
  font-weight: normal;
  padding: 0 30px;
  width: 742px;
}

.btn__cta {
  background: linear-gradient(to right, var(--Cyan), var(--Blue));
  border: none;
  border-radius: 50px;
  margin: 30px 0;
  padding: 20px 0;
  width: 280px;
}

/* FEATURES SECTION */

.features {
  display: grid;
  gap: 94px 158px;
  grid-template-columns: repeat(2, 1fr);
  margin: 130px 0;
  padding: 0 280px;
  width: 100%;
}

.feature {
  text-align: center;
}

.feature h3 {
  margin: 25px 0 12px 0;
}

/* EXTRA-DESCRIPTION SECTION */

.extra-description {
  align-items: center;
  display: flex;
  padding: 0 100px;
}


.img__box img {
  margin-right: 45px;
  height: 468px;
  width: auto;
}

.text__box :not(:last-child) {
  margin-bottom: 25px;
}

.desc__link {
  color: var(--Cyan);
  border-bottom: 1px solid var(--Cyan);
}

.desc__link img {
  vertical-align: middle;
}

/* TESTIMONIAL SECTION */

.testimonials {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(3, 1fr);
  padding: 140px;
}

.testimonial {
  background: var(--testimonials-bg);
  border-radius: 5px;
  padding: 40px 30px 0 30px;
  position: relative;
}

.testimonial::before {
  content: url(../images/bg-quotes.png);
  position: absolute;
  left: -10px;
  top: -35px;
  z-index: -1;
}

.testimonial p {
  margin-bottom: 25px;
}

.profile {
   display: flex;
}

.profile img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 10px;
}


.profile__info h3 {
  font-size: 10px;
  margin-bottom: 3px;
}

.profile__info p {
  font-size: 8px;
}



