@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/*  font-family: 'Raleway', sans-serif; */

:root {
  --Dark-Blue-intro-email-bg: hsl(217, 27%, 15%);
  --Dark-Blue-main-bg: hsl(217, 27%, 13%);
  --Dark-Blue-footer-bg: hsl(215, 52%, 9%);
  --Dark-Blue-testimonials-bg: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--Dark-Blue-main-bg);
  color: var(--White);
}

nav {
  width: 85%;
  height: 15vh;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 130px;
  height: auto;
  cursor: pointer;
}

ul.nav__bar {
  list-style: none;
  display: flex;
}

ul.nav__bar li {
  width: 100px;
}

ul.nav__bar li a {
  text-decoration: none;
  color: var(--White);
}

ul.nav__bar li a:hover {
  text-decoration: underline;

}

.section-1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  text-align: center;
 
}
.illustration {
  width: 470px;
  margin: auto;
  margin-bottom: 30px;
}

.intro-desc {
  width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

.intro-desc h1 {
  font-size: 2rem;
  margin-bottom: 25px;
  font-family: 'Raleway', sans-serif;
}

.intro-desc p {
  width: 500px;
  line-height: 2;
  margin: 0 auto 30px;
}

#btn {
  width: 250px;
  padding: 14px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: var(--Cyan);
}

#btn a {
  text-decoration: none;
  color: var(--White);
}

.curvy-bg {
  width: 100%;
  height: 40vh;
  position: relative;
  top: -210px;
  z-index: -1;
}

.section-2 {
  width: 100%;
  height: auto;
  position: relative;
  top: -210px;
  z-index: -1;
}

.services {
  width: 70%;
  min-height: 50vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.service-wrapper {
  margin: 30px 0;
}

.service-wrapper img {
  width: 70px;
  height: auto;
  line-height: 1.5rem;
  margin-bottom: 50px;
}

.service-desc {
  width: 400px;
  line-height: 1.5rem;
  margin-bottom: 25px;
}

.service-desc h2 {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}

@media screen and (ma-width: 375px) {
  nav {
    width: 90%;
  }

  .logo {
    width: 70px;
    height: auto;
  }

  ul.nav__bar li {
    width: 70px;
    margin-right: 5px;
  }

  ul.nav__bar li:nth-child(2) {
    width: 50px; 
  }
  .section-1 {
    width: 300px;
    margin: auto;
  }
  .illustration {
    width: 350px;
  }

  .intro-desc {
    width: 300px;
    margin: auto;
  }

  .intro-desc h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .intro-desc p {
    width: 318px;
    line-height: 1.5rem;
  }

  #btn {
    width: 200px;
  }

  .curvy-bg {
    display: none;
  }

  /* Media query section 2 */

  .services {
    width: 85%;
    margin: 250px auto 0;
  }
}


